NODE_ENV=development
PORT=4008

TCP_HOST=0.0.0.0
TCP_PORT=4009

SERVICE_NAME=event-registration-service

# MongoDB
MONGODB_URI=mongodb://mongo:27017/event-registration-service

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_QUEUE=event-registration-queue
RABBITMQ_EXCHANGE=volunteer-platform

# # Redis Cache
# REDIS_HOST=redis
# REDIS_PORT=6379
# REDIS_PASSWORD=
# REDIS_DB=3

# Service URLs
USER_SERVICE_URL=http://user-service:4002
EVENT_SERVICE_URL=http://event-service:4006
NOTIFICATION_SERVICE_URL=http://notification-service:4004

# # JWT
# JWT_SECRET=your-super-secret-jwt-key-change-in-production
# JWT_EXPIRATION=7d

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

# Frontend
FRONTEND_URL=http://localhost:5173

# CORS
CORS_ORIGIN=http://localhost:5173

# redis
REDIS_URL=redis://localhost:6379

# Registration Settings
MAX_APPLICATIONS_PER_EVENT_PER_USER=1
AUTO_CANCEL_NO_SHOW_HOURS=24
CHECK_IN_WINDOW_BEFORE_MINUTES=60
CHECK_IN_WINDOW_AFTER_MINUTES=30