NODE_ENV=development
PORT= 4004
TCP_PORT=4005

# MongoDB
MONGO_URI=mongodb://volunteer-mongo:27017/notification-service


# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_QUEUE=notifications

# SMTP Email (Gmail example)
# gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=duonghoangg241@gmail.com
SMTP_PASS=uafu dmkf soth prjp
SMTP_FROM=VolunteerHub <noreply@volunteerhub.com>

FRONTEND_URL=http://localhost:5173

# CORS
CORS_ORIGIN=http://localhost:5173

# redis
REDIS_URL=redis://localhost:6379