# HTTP REST API
PORT=4010

TCP_HOST=0.0.0.0
TCP_PORT=4011

# MongoDB
MONGO_URI=mongodb://volunteer-mongo:27017/communication-service

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

FRONTEND_URL=http://localhost:5173

# CORS
CORS_ORIGIN=http://localhost:5173

# Redis
REDIS_URL=redis://localhost:6379