NODE_ENV=development
PORT=4005
TCP_PORT=4006

# MongoDB
MONGO_URI=mongodb://volunteer-mongo:27017/communication-service

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_EXCHANGE=notification_exchange

# CORS
CORS_ORIGIN=http://localhost:5173

# Redis (optional for caching)
REDIS_URL=redis://localhost:6379

# JWT Secret (để verify token từ gateway)
JWT_SECRET=your-secret-key