NODE_ENV=development
PORT=3002
TCP_PORT=3003
TCP_HOST=0.0.0.0

# MongoDB Connection
MONGODB_URI=mongodb://mongodb:27017/user-service

# JWT Secret
JWT_SECRET=change-this-to-random-secret-key

# CORS
CORS_ORIGIN=*

# Seeding
ENABLE_SEEDING=true