# HTTP REST API
PORT=4000

TCP_HOST=0.0.0.0
TCP_PORT=4001

# MongoDB
MONGO_URI=mongodb://volunteer-mongo:27017/auth-service

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

# google
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
FRONTEND_URL=http://localhost:5173

# gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=duonghoangg241@gmail.com
SMTP_PASS=uafu dmkf soth prjp

# google
GOOGLE_CLIENT_ID=<your-client-id>
GOOGLE_CLIENT_SECRET=<your-client-secret>
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
FRONTEND_URL=http://localhost:5173

# CORS
CORS_ORIGIN=http://localhost:5173

# redis
REDIS_URL=redis://localhost:6379