# HTTP REST API
PORT=4000

TCP_HOST=0.0.0.0
TCP_PORT=4001

# MongoDB
MONGO_URI=mongodb://volunteer-mongo:27017/auth-service

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=3600s

# CORS
CORS_ORIGIN=http://localhost:3000

REDIS_URL=redis://localhost:6379