PORT=4002

TCP_HOST=0.0.0.0
TCP_PORT=4003

MONGO_URI=mongodb://volunteer-mongo:27017/user-service

# email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=duonghoangg241@gmail.com
SMTP_PASS=uafu dmkf soth prjp

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

CORS_ORIGIN=http://localhost:5173